<div class="full-page" id="loading">
  <div class="spinner">
    Loading portfolio...<br>
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
  </div>
</div>
<div class="hidden" id="hidden">
  <div class="navbar">
    <div class="container">
      <span><%= image_tag("coding.svg") %></span><span class="text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#home">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#about-me">ABOUT ME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#summary">SUMMARY</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#projects">PROJECTS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#contact-me">CONTACT</a></span>
    </div>
  </div>

  <div class="front-page" id="home">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
          <div class="front-page-content1">
            <span class="title">Martin Nguyen</span><br>
          </div>
          <div class="front-page-content2">
            <span class="summary quotes">Software Engineer</span><span class="summary quotes">AWS & Google Clouds</span><span class="summary quotes">Devops/Architect</span><br><br>
          </div>
          <div class="front-page-content3">
            <a href="#contact-me">
              <div class="orange-button">
                CONTACT ME
              </div>
            </a>
            <a href="#about-me">
              <div class="white-button">
                READ MORE
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        </div>
      </div>
    </div>
  </div>
  <div class="about-me-strip" id="about-me">
    <div class="container reveal">
      <div class="title text-center">
        About Me
      </div>
      <div class="sub-title text-center">
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="about-me">
    <div class="container reveal">
      <div class="row">
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
		My name is Martin Nguyen.  As Steve Jobs recommended, "Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it." It took me a long time, but I believe that I have finally found my passion. This passion is technology and having the opportunity to solve problems utilizing the most cutting edge technologies. 
All my skills as a developer were self-taught. I been able to achieve expert level ability in web development and back-end programming in languages such as PHP, Ruby, C#, and Java, I wanted to position myself for the continually evolving landscape of technology by gaining new skills in area such as cloud computing, big data, machine learning, etc. I believe my best attributes are my ability to solve complex problems by adapting quickly and learn new technology that is a better solution that will also be future-proof.
As you can see, I have achieved a number of industry recognized certifications.  This was my way of motivating myself to achieve proficiency in technology skills that interested me.  See below.   I also attain a Bachelor of Science degree in Engineering from a top ranked engineering university, Texas A&M.   My educational achievements also included a Doctor of Jurisprudence (JD) from Dale E. Fowler School of Law, Chapman University.  This is also a great example of my capacity to learn and understand diverse concepts.
          <br><br>

          Please feel free to drop me an email using the <a href="#contact-me">contact form</a> if you have any questions.
        </div>
        <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3">
        </div>
      </div>
    </div>
  </div>
  <div class="gap"></div>
  <div class="education-experience-skills" id="summary">
    <div class="container">
      <div class="row is-flex">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center collapse-group">
          <div class="box">
            <h4><i class="fa fa-star" aria-hidden="true"></i>&nbsp;Certifications</h4>
            <div class="line"></div>
            <br><strong>* AWS Certified DevOps Engineer – Professional</strong>
            <br><a href="https://drive.google.com/file/d/1sl4CGJe1RPT2yADMdDALuUxV1BSAYu6Y/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* AWS Certified Solutions Architect – Professional</strong>
            <br><a href="https://drive.google.com/file/d/1TEk62q1-UOcQh7TXHxL1OZ2zfltoZ4rO/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* AWS Certified SysOps Administrator - Associate</strong>
            <br><a href="https://drive.google.com/file/d/1f3z8BIrNMJz_Scn2mez37dquCw6ICiZ5/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* AWS Certified Solutions Architect - Associate</strong>
            <br><a href="https://drive.google.com/file/d/1ktGs0_s6ROY5Hib005cHUY-pmc-kJ09t/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Google Cloud Certified - Professional Data Engineer</strong>
            <br><a href="https://drive.google.com/file/d/1cCZRD5012ZrLF7Re5tBLcO4RUjJyqUmE/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Linux Professional Institute LPIC-1 Certified Linux Administrator</strong>
            <br><a href="https://drive.google.com/file/d/1MmBgox_heB6fj8VFeTUnoanPwjMO7Aho/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Magento Certified Developer Plus</strong>
            <br><a href="https://u.magento.com/certification/directory/dev/532007/" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Zend Certified PHP Engineer</strong>
            <br><a href="https://www.zend.com/en/yellow-pages/ZEND025935/" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Oracle Certified Associate, Java SE 8 Programmer</strong>
            <br><a href="https://drive.google.com/file/d/1E_OQiSrIv2hlqff0m_ZdIzPGu4nnr7uA/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Microsoft Specialist: Programming in C#</strong>
            <br><a href="https://drive.google.com/file/d/1bgMaw4giQ8a70kXQIfND25SJaXin8chx/view" target="_blank">View Certificate &raquo;</a>
            <br><strong>* Ruby Association Certified Ruby Programmer Silver</strong>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Skills</h4>
            <div class="line"></div>
            <br>* AWS Developer
            <br>* AWS Architect
            <br>* AWS Devops
            <br>* AWS Sysops
            <br>* AWS Automation
            <br>* Google Cloud Platform Developer
            <br>* Google Cloud Platform Architect
            <br>* Google Cloud Platform Machine Learning
            <br>* Tensorflow/Keras
            <br>* Azure Developer
            <br>* Cloud Security
            <br>* Linux/Bash
            <br>* Docker/Container
            <br>* Kubernetes
            <br>* Git
            <br>* Ansible/Chef
            <br>* Spark/Hadoop/MapReduce
            <br>* Networking
            <br>* Java 
            <br>* Python/Django/YAML
            <br>* Ruby/Ruby on Rails
            <br>* PHP/Magento/Wordpress/Laravel
            <br>* Javascript/NodeJS/JSON
            <br>* Apache/Nginx Servers
            <br>* C#/.Net
            <br>* HTML5/CSS
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-list" aria-hidden="true"></i>&nbsp;Experience</h4>
            <div class="line"></div>
            <br> 20xx - 20xx
            <br><strong>International Vapor Group</strong>
            <br><span class="">Senior Cloud/PHP/Magento Developer</span>
            <p class="collapse" id="viewdetails-ivg">*******************</p>
            <p><a class="btn" data-toggle="collapse" data-target="#viewdetails-ivg">View details &raquo;</a></p>
            20xx - 20xx
            <br><strong>Warner Music Group</strong>
            <br><span class="">Senior PHP/Magento/Cloud Developer</span>
            <p class="collapse" id="viewdetails-wmg">*******************</p>
            <p><a class="btn" data-toggle="collapse" data-target="#viewdetails-wmg">View details &raquo;</a></p>
            20xx - 20xx
            <br><strong>Kyboe!</strong>
            <br><span class="">Senior PHP/Cloud Developer</span>
            <p class="collapse" id="viewdetails-kyboe">*******************</p>
            <p><a class="btn" data-toggle="collapse" data-target="#viewdetails-kyboe">View details &raquo;</a></p>
            20xx - 20xx
            <br><strong>FlexShopper, Inc</strong>
            <br><span class="">PHP/Magento Developer</span>
            <p class="collapse" id="viewdetails-fs">*******************</p>
            <p><a class="btn" data-toggle="collapse" data-target="#viewdetails-fs">View details &raquo;</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
          <div class="box">
            <h4><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;Education</h4>
            <div class="line"></div>
            <br>1995 - 1998
            <br><strong>Chapman University Fowler School of Law</strong>
            <br>Orange, California
            <br><strong>Juris Doctor Degree (JD)</strong>
            <br>
            <br>
            1990 - 1994
            <br><strong>Texas A&M University</strong>
            <br>College Station, Texas
            <br><strong>Bachelor of Science degree, Industrial Engineering</strong>
            <br>Engineering program ranked 7th in US News & World Report
            <br><strong><a href="https://engineering.tamu.edu/news/2017/09/14/texas-am-engineering-rises-in-rankings-to-7th-in-newest-us-news-world-report-undergraduate-rankings.html" target="_blank">Web link &raquo;</a></strong>
            <br>Ranked No. 2 Nationally on List of Best Schools at SCHOOL.COM
            <br><strong><a href="https://today.tamu.edu/2017/05/25/texas-am-ranked-no-2-nationally-in-best-schools-list/" target="_blank">Web link &raquo;</a></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio-strip text-center" id="projects">
    <div class="container reveal">
      Projects
      <div class="line"></div>
    </div>
  </div>
  <div class="portfolio text-center">
    <div class="container">
      <div class="row">
        <div class="hiddex-xs col-sm-1 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-1">
            <div class="portfolio-contents" onclick="window.open('https://github.com/shouheiyamauchi/sy-portfolio');" style="cursor:pointer;">
              <span>
                <span class="title">Ruby On Rails</span><br>
                <div class="line"></div>
                <span class="summary">Google Cloud App Engine</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-2">
            <div class="portfolio-contents" onclick="window.open('http://35.224.227.60:8080/');" style="cursor:pointer;">
              <span>
                <span class="title">ASP.NET App</span><br>
                <div class="line"></div>
                <span class="summary">On Google Cloud Kubernetes Engine</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-3">
            <div class="portfolio-contents" onclick="window.open('http://35.184.25.166/productpage');" style="cursor:pointer;">
              <span>
                <span class="title">Istio Project</span><br>
                <div class="line"></div>
                <span class="summary">Istio On Google Kubernetes Engine</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-4">
            <div class="portfolio-contents" onclick="window.open('https://car-rails-20180526.herokuapp.com/');" style="cursor:pointer;">
              <span>
                <span class="title">Car Dealer Website</span><br>
                <div class="line"></div>
                <span class="summary">Ruby on Rails & Heroku Deployment</span>
              </span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 grid" id="portfolio-6">
            <div class="portfolio-contents" onclick="window.open('https://drone-rails-20180527.herokuapp.com/');" style="cursor:pointer;">
              <span>
                <span class="title">Agency Website</span><br>
                <div class="line"></div>
                <span class="summary">Ruby On Rails & Keroku Deployment</span>
              </span>
            </div>
          </div>
        </div>
        <div class="hidden-xs col-sm-1 col-md-2 col-lg-2"></div>
      </div>
    </div>
  </div>
  <div class="contact-me" id="contact-me">
    <div class="container reveal">
      <div class="row">
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center">
          <span class="title">Contact me</span><br><br>
          <% if flash[:notice] %>
              <div class="alert alert-success"><%= flash[:notice] %></div>
            <% elsif flash[:warning] %>
              <div class="alert alert-danger"><%= flash[:warning] %></div>
            <% else %>
          <% end %>
          <%= form_for :contact do |f| %>
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" type="text" id="fname" name="contact[name]" placeholder="Name:">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <input class="form-control" type="text" id="lname" name="contact[email]" placeholder="Email:">
              </div>
            </div>
            <br>
            <span><textarea class="form-control" id="subject" name="contact[message]" placeholder="Message:" style="height:100px"></textarea></span>
            <br>
            <input class="btn" type="submit" value="Submit">
          <% end %>
          <br><br><br>
          <div class="line"></div><br>
          <a href="https://www.linkedin.com/in/shouhei-yamauchi/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>&nbsp;
          <a href="https://github.com/shouheiyamauchi" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>&nbsp;
          <a href="https://bitbucket.org/shouheiyamauchi/" target="_blank"><i class="fa fa-bitbucket-square" aria-hidden="true"></i></a>
          <br><br>
          <span class="copyright">&copy; 2018 Martin Nguyen</span>
        </div>
        <div class="hiddex-xs col-sm-2 col-md-3 col-lg-3"></div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {

    var quotes = $(".quotes");
    var quoteIndex = -1;

    function showNextQuote() {
        ++quoteIndex;
        quotes.eq(quoteIndex % quotes.length)
            .fadeIn(1500)
            .delay(1500)
            .fadeOut(1500, showNextQuote);
    }

    showNextQuote();

  })();
</script>
<script type="text/javascript">
  var frontPage = {
    duration: 1500,
  }
  var frontPageContent1 = {
    duration: 1500,
    delay: 500,
  }
  var im = {
    duration: 1500,
    delay: 1000,
  }
  var underline = {
    duration: 1500,
    delay: 1300,
  }
  var frontPageContent2 = {
    duration: 1500,
    delay: 2000,
  }
  var frontPageContent3 = {
    scale: 0.9,
    duration: 1500,
    delay: 3000,
  }
  var reveal = {
    duration: 800,
    reset: true,
  }
  var box = {
    duration: 800,
    reset: true,
  }
  var grid = {
    duration: 800,
    reset: true,
  }
  sr.reveal('.front-page', frontPage);
  sr.reveal('.front-page-content1', frontPageContent1);
  sr.reveal('.im', im);
  sr.reveal('.underline', underline);
  sr.reveal('.front-page-content2', frontPageContent2);
  sr.reveal('.front-page-content3', frontPageContent3);
  sr.reveal('.reveal', reveal);
  sr.reveal('.box', box, 150);
  sr.reveal('.grid', grid, 150);
</script>
<!-- Page preloader -->
<script type="text/javascript">
  $(window).load(function() {
    $("#loading").addClass("hidden");
    $("#hidden").removeClass("hidden");
    window.scrollBy(0, 1);
  })
</script>
<!-- Smooth scrolling -->
<script type="text/javascript">
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 800);
        return false;
      }
    }
  });
</script>
<!-- Javascript to add class on scroll for navbar -->
<script type="text/javascript">
  $(window).scroll(function() {
    var scroll = $(window).scrollTop();

     //>=, not <=
    if (scroll >= 100) {
        //clearHeader, not clearheader - caps H
        $(".navbar").addClass("nav-bg");
    }
  }); //missing );
</script>
